
/* .form-control {
    width: 10%;
    height: 30px;
    border-radius: 10px;
    border-radius: 5px;
     padding: 5px; 
    font-size: 14px;
}


button:hover {
    background-color: #010104;
}  */
.button{
    padding: 5px 10px;
    margin-top: 15px;
    float: left;
    border: none;
    width: 10%;
    background-color:   rgb(14, 193, 202);
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

h4{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(67, 15, 93);
}

h6{
    color:indigo
}
.card{
    padding: 20px;
}
.inpSearch{
    width: 200px;
    height: 200px;
}